html {
  background-color: hsl(233, 47%, 7%);
  margin: auto;
  /* background-color: rgb(166, 166, 221); */
  /* color: #0A0C1B; */
}

h1 {
  font-size: 36px;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 26px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
}

p {
  line-height: 1.6;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;

  /* font-family: "Lexend Deca", sans-serif; */
}

.container {
  display: flex;
  margin: 220px 170px 200px 170px;
  border-style: solid;
}

.container-text {
  font-size: 20px;
  background-color: hsl(244, 38%, 16%);
  flex-grow: 1;
  color: white;
  padding: 40px 100px 40px 80px;
}

.container-image {
  color: #9f56cc;
}
.image-change {
  flex-grow: 1;
  height: 440px;
  width: 550px;
  /* background: #9F56CC; */
  /* mix-blend-mode: color-burn; */
  background: url("../images/image-header-desktop.jpg");
  background-size: cover;
  /* background-color: rgb(83, 33, 99); */
  /* background-color: rgb(102, 57, 102); */
  background-color: rgba(82, 39, 103, 0.921);
  background-position: center;
  position: relative;
  /* background: hsla(277, 99%, 29%, 0.572); */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.99;
  /* min-width: 
    300px; */
}

.highlight {
  color: hsl(277, 64%, 61%);
}

.stats {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
